.profile-img {
  height: 100%;
  border-radius: 99px;
  object-fit: cover;
}

.channel-thumb-container {
  width: 36px;
  height: 36px;
}

.video-thumb-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;

  .video-thumb {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
