.main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 1rem;
  background-color: #fff;
  z-index: 1;

  .header-content-container {
    height: var(--header-height);
    display: flex;
    align-items: center;

    .left-header {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    .search-bar-container {
      flex: 1;
      display: flex;
      justify-content: center;
      height: 32px;

      .search-form {
        width: 100%;
        max-width: 640px;
        display: flex;

        .search-inp {
          flex: 1;
        }
      }
    }

    .right-header {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .profile-btn {
        display: flex;

        .profile-img {
          border-radius: 99px;
          width: 32px;
          height: 32px;
        }
      }
    }
  }
}
