:root {
  --roboto-ff: "Roboto", sans-serif;

  --yt-border: 1px solid #ccc;
  --yt-gray: #606060;
  --yt-gray-3: #f4f4f4;
  --yt-gray: #606060;
  --yt-red: #ff0000;
  --yt-main-text-clr: #030303;
  --black-005: rgba(0, 0, 0, 0.05);
  --black-01: rgba(0, 0, 0, 0.1);

  --header-height: 55px;
  --side-bar-width: 240px;
  --mini-side-bar-width: 72px;
}
